$padding: 20px
.o-flex
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding-left: $padding
  padding-right: $padding

.o-flex
  +MQ(1280px)
    padding-left: $padding*2
    padding-right: $padding*2
