$char-width: 20px
  
.c-chars
  width: $char-width*10
  font-size: 0

.c-char
  width: $char-width
  height: $char-width
  display: inline-block
  background-color: blue
  border: 1px solid #fff
  &.js-active
    background-color: yellow
  &.is-fail
    background-color: #c00
  &.is-success
    background-color: #00FF45
