.c-form
  text-align: left
  width: 100%
  margin-bottom: 30px
  .c-form__inner
    margin-left: auto
    margin-right: auto
    display: flex
    flex-direction: column
  .c-form__heading
    margin-bottom: 25px
    color: midnightblue
  .c-form__group
    display: flex
    &--num
      input
        max-width: 100px
    + .c-form__group
      margin-top: 10px
  .c-form__label
    padding-right: 12px
  .c-form__help
    padding-left: 12px
    font-size: 16px
    color: #c00
    opacity: 0
    transition: oacity  .3s
  .c-form__action
    display: flex
    width: 100%
    justify-content: flex-start
    align-items: center
    font-size: 30px
    color: lime
    text-transform: uppercase
  .c-form__controls
    &.has-error
      .c-form__help
        opacity: 1

+MQ(993px)
  .c-form
    margin-bottom: 50px
    .c-form__inner
      flex-direction: row
    .c-form__group
      width: 33%
      + .c-form__group
        margin-top: 0
        margin-left: 20px

