.c-modal
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #c00
  opacity: 0
  transition: opacity .4s
  &--success
    background-color: #00FF45
  .c-modal__scores
    padding: 10px
    max-width: 500px
    margin-left: auto
    margin-right: auto
  .c-modal__close
    position: absolute
    right: 20px
    top: -20px
    font-size: 50px
    z-index: 6
  .c-modal__img
    position: relative
    display: flex
    margin-top: 20px
    margin-bottom: 20px
    max-width: 500px
    margin-left: auto
    margin-right: auto
    img
      width: 100%
      height: auto
      object-fit: cover
  &.is-open
    display: block
    opacity: 1

+MQ(1280px)
  .c-modal
    .c-modal__close
      cursor: pointer
      top: 0