.c-score
  display: flex
  width: 100%
  .c-score__title
    width: 33.333%
  .c-score__group
    width: 33.333%

+MQ(1280px)
  .c-score
    padding-left: 30px
    .c-score__value
      text-align: left
    